<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Hobbies</th>
    </tr>
    <tbody>
      <% data.forEach(function(item){ %>
      <tr>
        <td><%= item._id %></td>
        <td><%= item.name %></td>
        <td><%= item.phoneNumber %></td>
        <td><%= item.email %></td>
        <td><%= item.hobbies %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</body>

</html>